*.DS_Store
*.jpg
/Midterm
/solutions
/labs/lab22
/labs/lab16
/Hws/hw5
/Hws/hw8
/Hws/hw9
/Hws/hw3/.ipynb_checkpoints
/Hws/hw4/.ipynb_checkpoints
/Hws/hw6/.ipynb_checkpoints
/.ipynb_checkpoints
/Project/.ipynb_checkpoints
/Project/info/.ipynb_checkpoints
labs/.DS_Store
